* {
    /* resetando */
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
}
/* ul e li tem margin */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#loginPage {
    display: flex;
    background-color: #DBD8E3;
    color: #2A2438;
}

#loginNameInput {
    border: 2px solid #2A2438;
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    max-width: 400px;
}

#buttonLogin {
    margin-top: 15px;
    width: 80px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #2A2438;
    border-radius: 5px;
    border: 0;
    color: #fff;
}

#chatPage {
    display: none;
}

.chatArea {
    flex: 1;
    width: 100%;
    display: flex;

    background-color: #ccc;
}

.chatList {
    flex: 1;
    background-color: #DBD8E3;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    padding: 10px;
}

.chatList li {
    padding: 10px;
    font-size: 15px;
    margin: 5px 0;
}

.chatList li.m-status {
    color: #333;
    font-style: italic;
}

.chatList li.m-txt1 {
    background-color: #5C5470;
    border-radius: 10px;
    color: #fff;
}

.chatList li.m-txt2 {
    background-color: #352F44;
    border-radius: 10px;
    color: #fff;
}

.chatList li.m-txt1 span,
.chatList li.m-txt2 span {
    font-weight: bold;
    color: #DBD8E3;
}

.chatList li.m-txt span.me {
    color: #2A2438;
}

.userList {
    width: 220px;
    background-color: #2A2438;
    color: #DBD8E3;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    padding: 10px;
    border-radius: 10px;
    margin-right: -20px;
}

.userList li {
    padding: 5px;
    font-size: 15px;
}

.hide {
    margin-right: -180px;
}

.chatInput {
    width: 100%;
    height: 40px;
    display: flex;
}

#chatTextInput {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    background-color: #fff;
    outline: 0;
    border: 0;
}

#chatButtonSend {
    padding: 10px;
    margin: 5px;
    background-color: #2A2438;
    border-radius: 5px;
    border: 0;
    color: #fff;
}

@media (max-width: 450px) {
    #loginNameInput {
        width: calc(100% - 100px);
    }
}